body {
  margin: auto;
  background-color: rgb(237, 248, 247);
  color: navy;
}

.login-title {
  display: flex;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.login-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-signin {
  margin: 10px;
  margin-left: 16%;
  background: papayawhip;
  border-radius: 5px;
  border: 1px solid rgb(16, 16, 49);
  box-shadow: 1px 1px 1px 1px rgba(2, 58, 80, 0.4);
  margin-bottom: 70px;
}
.btn-signin:hover {
  background: rgb(28, 246, 28);
  transition: 0.7s;
}
.btn-signup {
  background: papayawhip;
  border-radius: 5px;
  border: 1px solid rgb(16, 16, 49);
  box-shadow: 1px 1px 1px 1px rgba(2, 58, 80, 0.4);
}

.btn-signup:hover {
  background: rgb(246, 87, 167);
  transition: 0.7s;
}

.errors {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 15%;
  border: 1px solid black;
  background: red;
  max-width: 500px;
}

/******************* MEDIA QUERIES ************/
@media (min-width: 769px) {
  

  .login-template {
    width: 200%;
    margin: auto;
    margin-top: 100px;
    

    border: 1px solid navy;
    box-shadow: 1px 1px 1px 1px rgba(2, 7, 80, 0.4);
  }
}

@media (min-width: 1000px) {
  .login-template {
    justify-content: center;
    width: 800px;
    margin-left: auto;
  }
}
