body {
  margin: auto;
  background-color: rgb(237, 248, 247);
  color: navy;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.main-title {
  margin-top: 50px;
}

.age {
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  margin-left: 23px;
  margin-bottom: 20px;
  border: 1px solid navy;
  box-shadow: 1px 1px 1px 1px rgba(63, 62, 144, 0.4);
  outline: none;
}

.gender-title {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid navy;
  box-shadow: 1px 1px 1px 1px rgba(63, 62, 144, 0.4);
  padding: 10px;
  margin: 5px;
  width: 180px;
  margin-bottom: 30px;
  
}

.loading-spinner {
  margin: 0 auto;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-bottom: 210px;
  margin-left: 37%;
  border: 16px solid #0042a4;
  border-radius: 50%;
  border-top: 16px solid #3775cf;
  border-right: 16px solid #619bee;
  border-bottom: 16px solid #96bff9;
  border-left: 16px solid #c9e0ff;
  width: 75px;
  height: 75px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/******************ALL DONE BUTTON**************/
.form-submit-btn {
  content: "";
  background-color: transparent;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  transition: all 0.5s;
  color: transparent;
}

.form-submit-btn:before {
  content: "ready";
  color: rgb(238, 238, 245);
  font-weight: 900;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #54d0f6;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.5s;
  transform-origin: top;
}

.form-submit-btn:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #e964f5;
  z-index: -1;
  mix-blend-mode: multiply;
  transition: all 0.5s;
  transform-origin: bottom;
}

.form-submit-btn:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.form-submit-btn:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-77deg);
}

.form-submit-btn:hover {
  content: "sure?";
  color: #020355;
  font-weight: 900;
  background-color: rgba(250, 4, 4, 0.137);
  cursor: pointer;
}

.form-submit-btn:disabled,
.form-submit-btn[disabled] {
  visibility: hidden;
}
